:root {
  --primary-color: #0e4369;
  --secondary-color: #4f72e7;
  --accent1-color: #92c2cfbd;
  --accent2-color: #129CA3;
  --I-decide-color: rgb(24, 185, 92);

  --heading-font: 'Agbalumo', sans-serif;
  --paragraph-font: 'Playpen Sans', sans-serif;

  --nav-background-color: #afdda3;
  --nav-link-color: #396E94;
  --nav-hover-link-color: #4fafe7;
  --nav-hover-background-color: #129CA3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.h7 {
  font-family: var(--I-decide-color);
  color: var(--I-decide-color);
}

.aboutHeader {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  background-color: var(--nav-background-color);
  padding: 22px;
  grid-gap: 20px;
  margin-bottom: 10px;
}

.logo {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: auto;
}

.aboutNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 0px;
  margin: 0;
  background-color: var(--nav-hover-link-color);
}

.aboutNavbar a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 16px 32px;
  margin: 0;
}

.aboutNavbar a:last-child {
  border-right: none;
}

.aboutNavbar a:hover {
  background-color: var(--accent1-color);
  color: var(--nav-link-color);
}

.indexContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indexContent p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}

.indexContent img {
  width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  padding: 8px;
}

.indexContent input {
  padding: 8px;
  margin: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card ul {
  list-style: none;
  text-align: left;
  padding: 16px;
  line-height: 1.5rem;
}

.container p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}

.reviews {
  color: rgb(167, 189, 223)2, 218);
}

.container button {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  font-size: var(--paragraph-font);
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
  text-decoration: none !important;
}

.container a {
  text-decoration: none !important;
}

.history, .contact {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.history h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.historyContent {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  gap: 10px;
}

.historyContent p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}

.historyContent img {
  max-width: 100%;
  max-height: 220px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding: 8px;
}

.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.adventures h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

figure {
  flex: 1;
  text-align: center;
  margin: 0;
}

figure img {
  max-width: 100%;
  height: 120px;
  display: block;
  margin: 0 auto;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

.contactContent {
  display: grid;
  grid-template-columns: 1fr 50%;
  gap: 10px;
  text-align: left !important;
  line-height: 2rem;
  margin-top: 12px;
}

.contactContent h2 {
  text-align: center;
  padding: 20px;
  margin-bottom: 18px;
}

.contactContent img {
  width: 350px;
  height: auto;
}

.contactContent label,
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 6px;
  width: 90%;
  font-weight: bold;
}

.radio-group {
  display: block;
  gap: 5px;
  align-items: left;
}

.radio-group input[type="radio"] {
  margin: 0;
  padding: 2px;
  appearance: none;
  border: 1px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.radio-group label {
  font-size: 16px;
  color: #333;
}

.radio-group input[type="radio"]:checked {
  background-color: #3498db;
}

.contactContentbutton,
.newsletterbutton {
  background-color: #afafd6;
  color: #fff;
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
}

.newsletterbutton {
  background-color: var(--accent2-color) !important;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
}

footer p {
  flex: 1;
  margin: 0;
}

footer a {
  text-decoration: none !important;
  color: var(--nav-link-color);
}

.sociallinks {
  display: flex;
  gap: 10px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card {
  flex: 1 0 250px 250px 250px;
}

.container-b {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero {
  display: flex;
  align-items: center;
}

.mission-section,
.history-section {
  flex: 1;
  padding: 20px;
}

.image-section {
  margin: 0 20px;
}

.image-section img {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section img {
  width: 100%;
  max-width: 200px;
  height: auto;
}