* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #333;
}


p {
    padding: 10px;
}

main {
    max-width: 380px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 250px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 20;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

li {
    background-color: rgb(223, 241, 255);
    padding: 10px;
    text-align: left;
}